= render Helpers::DismissableComponent.new do |c|
  .flash.py-4.px-2.text-sm{ class: flash_classes }
    .mx-auto.container.px-2.flex.items-baseline
      .flex-grow= message
      .flex-shrink-0.pl-1
        = c.dismiss_button(classes: button_classes).with_content(t('shared.actions.dismiss'))
