.bg-gray-800
  .mx-auto.container.px-2.py-8
    .flex.gap-x-8.items-center.mx-1
      .w-full
        = link_to root_path do
          .inline-flex.w-10.h-10.bg-gradient-to-br.from-pink-400.to-blue-500.rounded-full.p-2.items-center.border-2.border-white.justify-center.font-bold.text-white.text-sm.leading-3
            DE AL

      - if user_signed_in?
        .w-full.flex
          %nav.mx-auto
            %ul

      .w-full.flex.justify-end
        - if user_signed_in?
          = render Helpers::UserMenuComponent.new(current_user: current_user)
        - else
          = render Helpers::LanguagePickerComponent.new
