.devise--form-component.mx-auto{ class: 'sm:w-2/3 lg:w-1/3' }
  %h1.devise--form-component--title.heading-1.text-center
    = title

  .devise--form-component--form.bg-white.p-8.rounded-lg.border.my-4.shadow-xl
    = form

  .devise--form-component--links.flex.flex-col.gap-y-1
    - links.each do |link|
      = link
